*, ::after, ::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
}

h1 {
  color: goldenrod;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: sans-serif;
  background-color: black;
  padding: 1em;
  font-size: 50%;
}
body, html {
  height: 100%;
  margin: 0;
  background-color: #f2f1ed;
  color: #de4848;
}

.bg {
  /* The image used */
  background-image: url("chika-fujiwara-kaguya-sama.gif");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timer{
  position: relative;
  top: 25%;
  left: 50%;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: .1em;
}

.top,
.bottom,
.timer .top-flip,
.timer .bottom-flip{
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}
.top,
.timer .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.timer .bottom-flip{
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

.timer .top-flip{
  position: absolute;
  content: attr(data-current-number);
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100%{
    transform: rotateX(90deg);
  }
}
.timer .bottom-flip{
  position: absolute;
  bottom: 0;
  content: attr(data-next-number);
  width: 100%;
  animation: flip-down 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-down {
  100%{
    transform: rotateX(0deg);
  }
}
