*, ::after, ::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
}
.shadow {
  /*color: #f7bbc7;*/
  position: absolute;
  text-align: center;
  top: 27px;
  left: 50%;

  transform: translate(-50%, -50%);
  font-family: YakuHanJPs_Noto, "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  padding: 1em;
  font-size: 75%;

  color: white;
  text-shadow: -1px -1px 0 #f7bbc7, 1px -1px 0 #f7bbc7, -1px 1px 0 #f7bbc7, 1px 1px 0 #f7bbc7;
}
h1 {
  color: black;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: YakuHanJPs_Noto, "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  padding: 1em;
  font-size: 70%;
}
body, html {
  height: 100%;
  margin: 0;
  background-color: #f2f1ed;
  color: #de4848;
}

.main-bg{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.bg {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #e7274c;
}

.panik {
  background-image: url("chika-fujiwara-kaguya-sama.gif");
  /* Full height */
  height: 50%;
  position: relative;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
}

.timer{

  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: .1em;
}

.top,
.bottom,
.timer .top-flip,
.timer .bottom-flip{
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}
.top,
.timer .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.timer .bottom-flip{
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

.timer .top-flip{
  position: absolute;
  content: attr(data-current-number);
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100%{
    transform: rotateX(90deg);
  }
}
.timer .bottom-flip{
  position: absolute;
  bottom: 0;
  content: attr(data-next-number);
  width: 100%;
  animation: flip-down 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-down {
  100%{
    transform: rotateX(0deg);
  }
}

.container {
  padding-top: 5%;
  display: flex;
  gap: .5em;
  justify-content: center;
}

.container-segment{
  color: #de4848;
  display: flex;
  flex-direction: column;
  gap: .1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: .1em;
}

.segment-title {
  color: black;
  font-size: 1rem;
}
